node_modules/
.env
.env.local

plugins/helm/frontend/dist/
plugins/helm/frontend/pkg/
plugins/helm/frontend/src/generated-style.css
plugins/helm/plugin
.output/

coverage/
coverage.out

.claude/*
!.claude/memory/
!.claude/plan/
!.claude/settings.json

repomix-output.xml
