node_modules/
.env
.env.local

helm/frontend/dist/
helm/frontend/pkg/
helm/frontend/src/generated-style.css
helm/plugin
helm/.output/

coverage/
coverage.out

.claude/*
!.claude/memory/
!.claude/plan/
!.claude/settings.json

repomix-output.xml
